main {
  min-height: 80vh;
}

header{
  font-size: 1rem;
}

.header_brand{
  font-size: 2rem;
}

.rating span{
  margin: 0.1rem
}

.listgroupitem{
  background-color: #fff;
  color: #444;
}
.listgroupitem:hover{
  color: #444;
}

hr{
    background-color:444;
    border-width: 1px;
    width:100%;
    margin-bottom: 0;
    margin-top: 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.shoppingCartItem{
  color: #444;
  background-color: white;
}
.shoppingCartItem:hover{
  background-color: unset !important;
  color: unset !important;
}

.shoppingCartSubtotal{
  color: #444;
  background-color: white;
}
.shoppingCartSubtotal:hover{
  background-color: unset !important;
  color: unset !important;
}

.placeOrder{
  color: #444;
  background-color: white;
}
.placeOrder:hover{
  background-color: unset !important;
  color: unset !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff ;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}