main {
  min-height: 80vh;
}

header{
  font-size: 1rem;
}

.header_brand{
  font-size: 2rem;
}

.rating span{
  margin: 0.1rem
}

.listgroupitem{
  background-color: #fff;
  color: #444;
}
.listgroupitem:hover{
  color: #444;
}

hr{
    background-color:444;
    border-width: 1px;
    width:100%;
    margin-bottom: 0;
}